@use "_colors.scss";

.header {
  margin: 32px auto 46px;
  
  @media screen and (max-width: 550px) {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: 1000;

    padding: 16px;
    margin: 0 0 20px;
    flex-direction: row !important;
    background-color: colors.$white;
    align-items: center;
  }

  &__burger {
    display: none;
    transition: .5s;
    z-index: 100002;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: colors.$black;

    @media screen and (max-width: 550px) {
      display: flex;
    }

    &.active {
      background-color: colors.$white;
    }

    &-icon {
      width: 24px;
      height: 24px;
      object-fit: cover;
      filter: brightness(100%);
      //transform: rotate(0deg);
      transition: .5s;
    }

    &.active &-icon {
      filter: grayscale(100%) brightness(0%);
      //transform: rotate(90deg);
    }
  }

  &__logo {
    width: 91px;
    height: 32px;
    object-fit: cover;
    z-index: 100002;

    @media screen and (max-width: 550px) {
      &.active {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__nav {
    position: fixed;
    bottom: calc(100% - 148px);
    margin-top: 40px;
    padding: 5px;
    border-radius: 80px;
    background-color: colors.$black;
    transition: .5s;
    z-index: 30000;

    @media screen and (min-width: 550px) {
      &.isScrolled {
        bottom: 2%;
      }
    }

    @media screen and (max-width: 550px) {
      opacity: 0;

      margin-top: 0;
      overflow-y: auto;
      left: 0;
      top: 0;
      border-radius: 0;
      height: 0;
      width: 100%;
      z-index: -11000;
      padding: 0;

      &.active {
        opacity: 1;
        z-index: 100000;
        height: 100%;
      }
    }
  }

  &__ul {
    @media screen and (max-width: 550px) {
      margin: 50px 0 0 0;
      flex-direction: column;
      align-items: start;
      padding: 20px;
    }
  }

  &__item {
    & + & {
      margin-left: 16px;

      @media screen and (max-width: 550px) {
        margin-left: 0;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -0.5px;
    padding: 9px 16px;
    border-radius: 48px;
    color: colors.$grey;
    background-color: transparent;
    transition: .5s;

    &.active {
      color: colors.$black;
      background-color: colors.$white;
      & span {
        color: colors.$white !important;
        background-color: colors.$black !important;
      }
    }

    @media screen and (max-width: 550px) {
      font-size: 32px;
      padding: 9px 0;

      &.active {
        margin-left: 10px;
        color: colors.$white !important;
        background-color: transparent !important;

        & span {
          color: colors.$black !important;
          background-color: colors.$white !important;
        }
      }
    }
  }

  &__notification {
    width: 20px;
    height: 20px;
    font-size: 9px;
    font-weight: 700;
    margin-right: 6px;
    border-radius: 50%;
    color: colors.$black;
    background-color: colors.$grey;
  }

  &__theme {
    padding: 11px 16px;
    border-radius: 48px;
    margin-left: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    transition: .5s;

    &-icon {
      width: 24px;
      height: 24px;
      object-fit: cover;
      transition: .5s;

      &.dark {
        filter: invert(100%);
        transform: rotate(180deg);
      }
    }

    &.dark {
      background-color: rgba(255, 255, 255, 0.15);
    }

    &:hover {
      opacity: .7;
    }
  }
}