@use "_colors.scss";

.welcome {
  &__content {
    @media (max-width: 645px) {
      display: flex;
      justify-content: center;
    }

    &-title {
      font-size: 14.1875em;
      font-weight: 500;
      line-height: 90%;
      letter-spacing: -2px;
      color: colors.$black;

      @media (max-width: 440px) {
        max-width: 300px;
        text-align: center;
        font-size: 48px;
        text-wrap: wrap;
        padding-bottom: 72px;
      }
    }

    &-btn {
      max-width: max-content;

      font-size: 20px;
      font-weight: 500;
      letter-spacing: -1px;

      border-radius: 144px;
      color: colors.$black;
      background-color: colors.$grey-50;

      padding: 32px;
      text-transform: uppercase;

      transition: 0.5s;

      @media (max-width: 750px) {
        padding: 16px;
        font-size: 14px;
      }

      &-icon {
        width: 13px;
        height: auto;
        object-fit: cover;
        filter: brightness(0);
        margin-left: 7px;
        transition: 0.5s;

        @media (max-width: 750px) {
          width: 12px;
        }
      }

      &:hover {
        background-color: colors.$black;
        color: colors.$grey-50;
      }

      &:hover &-icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__about {
    margin-top: 66px;

    &-title {
      text-wrap: nowrap;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -1px;
      color: colors.$black;

      @media (max-width: 645px) {
        font-size: 20px;
      }
    }

    &-email {
      margin-top: 9px;
    }

    &-description {
      margin-left: 48px;
      max-width: 420px;
    }

    &-email, &-description {
      font-family: sans-serif !important;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -1px;

      @media (max-width: 645px) {
        font-size: 14px !important;
        letter-spacing: -0.2px;
      }
    }
  }
}