@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LabilGrotesk';
    src: url('./fonts/LabilGrotesk-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1035px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 940px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 645px) {
    html {
        font-size: 5px;
    }
}

.wrapper {
    max-width: 1240px;
    padding: 0 20px;
}

* {
    font-family: "LabilGrotesk", sans-serif;
}

::selection {
    background: #C4C4C480;
    color: #000000;
}