@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LabilGrotesk';
    src: url('./fonts/LabilGrotesk-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.html {
    font-size: 16px;
}

.wrapper {
    max-width: 1220px;
}

* {
    font-family: "LabilGrotesk", sans-serif;
}

::selection {
    background: #C4C4C480;
    color: #000000;
}